body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0 166px;
}


/* header start */
.header {
    height: 100vh;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    margin-right: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    transition: color .3s linear;
}

.nav-item:hover {
    color: #d81d1d;

}

.cart {
    padding-right: 10px;
    height: 50px;
    position: relative;
    border-right: 1px solid #fff;
}

.cart-img {
    position: absolute;
    top: 18px;
    right: 20px;
}

.num {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    transition: color .3s linear;
}

.num:hover {
    color: #d81d1d;
}

.phone-txt {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.phone-holder {
    display: flex;
    align-items: center;
}

.button {
    background-color: #ff7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
    transition: background-color .2s linear;
}

.button:hover {
    background-color: #894b17;
}


.header-down {
    position: relative;
}


.header-title {
    margin-top: 222px;
    margin-bottom: 12px;
    position: absolute;
    left: 0;
    color: #D67E35;
    font-family: 'Tinos', serif;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}

.header-subtitle {
    font-size: 80px;
    font-weight: 400;
    margin-bottom: 8px;
}

.header-suptitle {
    color: #fff;
    font-size: 18px;
    font-family: 'Open-sans', 'sans-serif';
}

.header-suptitle:after {
    height: 2px;
    width: 61px;
    position: absolute;
    content: ' ';
    background-color: #C4C4C4;
    top: 167px;
    left: 88px;
}

.header-suptitle:before {
    height: 2px;
    width: 61px;
    position: absolute;
    content: ' ';
    background-color: #C4C4C4;
    top: 167px;
    left: 331px;
}

.header-button {
    background-color: #ff7400;
    font-weight: 700;
    font-size: 14px;
    padding: 14px 28px;
    color: #fff;
    font-family: 'Open-sans', 'sans-serif';
    text-decoration: none;
    transition: background-color .2s linear;
}

.header-button:hover {
    background-color: #894b17;
}

/* header end */

/* cards-start */
.cards-holder {
    display: flex;
    justify-content: space-between;
}

.card {
    margin-top: -100px;
    margin-right: 31px;
    padding: 10px 10px;
    width: 349px;
    box-shadow: 10px 10px 40px 20px #0000001A;
    background-color: #fff;
}

.card:last-child {
    margin-right: 0;
}

.card-image {
    padding-top: 31px;
    display: flex;
    justify-content: center;
}

.card-title {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Tinos', serif;
    font-size: 26px;
    font-weight: 400;
    color: #2C2C2C;
}

.card-title span {
    margin-left: 6px;
    color: #BC9060;
}

.card-desc {
    text-align: center;
    font-family: 'Tinos', serif;
    font-size: 26px;
    font-weight: 400;
    color: #656363;
}

/* cards-end */

/* history start */
.history {
    margin-top: 166px;
    padding-bottom: 200px;
}

.history-title {
    width: 444px;
    font-family: 'Tinos', serif;
    font-size: 54px;
    font-weight: 400;
    color: #2C2C2C;
    text-align: center;
}

.history-title span {
    color: #BC9060;
}

.history-desc {
    margin-top: 21px;
    width: 444px;
    font-size: 16px;
    color: #656363;
    text-align: center;
}

.history-number {
    margin-top: 40px;
    display: flex;
    width: 444px;
    justify-content: center;
}

.number-item {
    margin-top: 40px;
    margin-right: 60px;
    font-size: 40px;
    text-align: center;
    color: #BC9060;
}

.number-item:last-child {
    margin-right: 0;
}

.number-item span {
    display: block;
    color: #656363;
    font-size: 20px;
}

.history-holder {
    display: flex;
    justify-content: space-between;
}

.history-images {
    position: relative;
    margin: 0 166px;
}

.images-1 {
    position: absolute;
    z-index: 0;
    top: 5px;
    left: -500px;
}

.images-2 {
    position: absolute;
    z-index: 3;
    top: -20px;
    left: -295px;
}

.images-3 {
    position: absolute;
    z-index: 2;
    top: 150px;
    left: -130px;
}

/* history end */

/* black-block start */
.black-block {
    padding: 80px 0;
    background-image: url(../img/black-bg.jpg);
}

.left-title {
    margin-bottom: 20px;
    font-family: 'Tinos', serif;
    font-size: 52px;
    font-weight: 400;
    color: #D67E34;
}

.left-txt {
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    font-family: 'Open-sans', 'sans-serif';
}

.right-btn {
    background-color: #ff7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
    transition: background-color .2s linear;
}

.right-btn:hover {
    background-color: #894b17;
}

.black-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* black-block end */

/* dishes start */
.dishes-title {
    padding-top: 130px;
    margin-bottom: 130px;
    font-family: 'Tinos', serif;
    font-size: 54px;
    font-weight: 400;
    color: #2C2C2C;
    text-align: center;
}

.dishes-title span {
    color: #D67E34;
}

.pizza-burgers {
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
}

.pizza {
    margin-right: 20px;
}

.burger-item {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.burger-txt {
    margin-left: 20px;
    font-family: 'Tinos', serif;
    font-size: 26px;
    font-weight: 400;
    color: #2C2C2C;
}

/* dishes end */

/* menu start */
.menu {
    padding-bottom: 226px;
    background-image: url(../img/menu-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-title {
    padding-top: 100px;
    padding-bottom: 140px;
    font-family: 'Tinos', serif;
    font-size: 54px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.menu-items {
    display: flex;
    /* justify-content: space-between; */
}

.menu-item {
    padding-top: 80px;
    padding-bottom: 30px;
    margin-right: 20px;
    width: 30%;
    background-color: #fff;
    text-align: center;
}

.menu-item:last-child{
    margin-right: 0;
}

.menu-images {
    position: relative;
}

.price-img {
    position: absolute;
    bottom: 0;
    right: 32px;
}

.price-420 {
    position: absolute;
    bottom: 32px;
    right: 56px;
    font-weight: 400;
    font-size: 30px;
    color: #fff;
}

.menu-txt {
    padding-top: 22px;
    font-family: 'Tinos', serif;
    font-size: 26px;
    font-weight: 400;
    color: #000;
    text-align: center;
}

.menu-sub-txt {
    padding-top: 17px;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    font-family: 'Open-sans', 'sans-serif';
}

.menu-btn {
    background-color: #ff7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 67px;
    font-weight: 700;
    transition: background-color .2s linear;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.menu-btn:hover {
    background-color: #894b17;
}
/* menu end */